<div class="row">
    <div class="col-md-2">
        &nbsp;
    </div>
    <div class="col-md-4">
        <h2>Login</h2>
        <p class="text-primary">To autenthicate with your user and password.</p>
        <p><a class="btn btn-info" href="#/login" role="button">Login &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Sign Up</h2>
        <p class="text-primary">If you dont have user, click here to register.</p>
        <p><a class="btn btn-info" href="#/registration" role="button">Sign Up &raquo;</a></p>
    </div>
    <div class="col-md-2">
        &nbsp;
    </div>
</div>
