<h2>Product</h2>
<div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Description</th>
            <th>Price €</th>
        </tr>
        </thead>
        <tr ng-repeat="product in products">
            <td>{{ product.Description }}</td>
            <td>{{ product.Price}}</td>
        </tr>
    </table>

    <p class="alert-info">This screen is only visible if the user is authenticated</p>
    <p class="alert-info">The token used to authenticate the user is saved in the localStorage</p>
</div>
